.hidden {
  display: none;
}

/* Schedule list */
.schedule-list > li {
  padding: 4px 0;
}

.schedule-list > li dt,
.schedule-list > li dd {
  display: inline;
}

.schedule-list > li dt::after {
  content: ": ";
}

.schedule-list > li dt:not(:first-of-type)::before {
  content: " | ";
}



